:root {
  --blue: #1f3c88;
  --blue-dark: #162f6b;
  --white: #ffffff;
  --gray: #666;
  --border: #dcdcdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}

.topbar {
  background: var(--blue);
  color: var(--white);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
 width: 130px;
 height: 90px;
}

.perfil{
  width: 30px;
  height: 30px;
}

.user{
  display: flex;
  align-items: center;
  gap: 20px;
  border: solid 2px white;
  padding: 5px 30px 5px 15px;
  margin-left: 1500px;
}

.settings{
  width: 30px;
  height: 30px;
}

.titulo {
  text-align: center;
  margin: 30px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 40px;
}

.imgcard{
  width: 250px;
  height: 150px;
}

.card {
  border: 1px solid var(--border);
  padding: 20px;
  text-align: center;
}

.card-action h3 {
  margin-bottom: 10px;
}

.card-action p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 15px;
}

.card-action button {
  background: var(--blue);
  color: white;
  border: none;
  padding: 10px 14px;
  cursor: pointer;
}

/* MAIN SUMMARY */
.summary-main {
  background: var(--blue);
  color: white;
  margin: 40px;
  padding: 30px;
}

.summary-value {
  font-size: 28px;
  font-weight: bold;
}

/* SECONDARY SUMMARY */
.summary-secondary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 0 40px;
}

.summary-card {
  border: 1px solid var(--border);
  padding: 20px;
}

.summary-card h4 {
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  background: var(--blue-dark);
  color: white;
  padding: 30px;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}
