:root {
  --blue: #1E3A8A;
  --blue-dark: #1E3A8A;
  --white: #ffffff;
  --gray: #666;
  --border: #dcdcdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}

.topbar {
  background: var(--blue);
  color: var(--white);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
 width: 130px;
 height: 90px;
}

.perfil{
  width: 30px;
  height: 30px;
}

.user{
  display: flex;
  align-items: center;
  gap: 20px;
  border: solid 2px white;
  padding: 5px 30px 5px 15px;
  margin-left: 1500px;
}

.settings{
  width: 30px;
  height: 30px;
}

.titulo {
  text-align: center;
  margin: 30px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 240px;
}

.imgcard{
  width: 150px;
  height: 125px;
}

.card {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 300px;
}

.card h3 {
  margin-bottom: 10px;
}

.card button {
  background: var(--blue);
  color: white;
  border: none;
  padding: 10px 14px;
  margin-top: 10px;
  cursor: pointer;
}

.resumos{
  background: var(--blue);
  color: white;
  margin: 100px;
  padding: 30px;
}

.resumo h3{
  margin-top: 2%;
  font-size: 30px;
}

.resumovalor{
  font-size: 70px;
  font-weight: bold;
}

.imgresumo{
  width: 200px;
  height: 200px;
  margin-left: 88%;
  margin-top: -900px;
}

.cardsegundos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 0 40px;
}

.cardsegundo {
  border: 1px solid black;
  padding: 50px;
  width: 90%;
  margin-left: 5%;
}

.cardsegundo h4 {
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 50px;
}

.segundoimg{
  width: 200px;
  height: 159px;
  margin-left: 70%;
  margin-top: -130px;
}

.logofooter{
  margin-right: 100%;
  width: 130px;
  height: 90px;
}

.desenvolvido{
  margin-left: 15%;
  margin-top: -5%;
}

.texto{
  margin-left: 20px;
  margin-top: 20px;
}

.footer {
  background: var(--blue-dark);
  color: white;
  padding: 30px;
  margin-top: 90px;
  text-align: left;
  font-size: 14px;
}
.ano{
  margin-left: 97%;
}
