*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    flex-direction:column;
    min-height:100vh;
}

.topbar {
    background-color: #1e3a8a;
    color: white;
    padding: 16px 32px;
    display: flex;
    align-items: center;
}

.Logo {
    width: 130px;
    height: 90px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid white;
    padding: 5px 18px;
    margin-left: auto;
}

.perfil {
    width: 30px;
    height: 30px;
}

.settings {
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

/* seta voltar */
.btn-voltar {
    color: white;
    font-size: 26px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.btn-voltar:hover {
    opacity: 0.7;
}
/* CONTEÚDO */
.container{
    flex:1;
    padding:30px;
}

/* TÍTULO */
.titulo{
    text-align:center;
    font-size:20px;
    margin-bottom:25px;
}

/* FORMULÁRIO */
.form-box{
    background:#fff;
    padding:25px;
    border-radius:4px;
    margin-bottom:30px;
}

.form-box h3{
    margin-bottom:15px;
    color:#1f3c88;
}

.form{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.campo{
    display:flex;
    flex-direction:column;
    flex:1;
    min-width:180px;
}

.campo label{
    font-size:13px;
    margin-bottom:4px;
}

.campo input{
    padding:8px;
}

.botao{
    padding:10px 18px;
    background:#1f3c88;
    color:#fff;
    border:none;
    cursor:pointer;
    margin-top:18px;
}

/* LISTA */
.lista-box{
    background:#fff;
    padding:25px;
    border-radius:4px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
    font-size:13px;
}

th, td{
    border:1px solid #7f8fcf;
    padding:8px;
    text-align:center;
}

th{
    background:#1f3c88;
    color:#fff;
}

td.left{
    text-align:left;
}

.btn-editar{
    background:#27ae60;
    color:#fff;
    border:none;
    padding:5px 10px;
    cursor:pointer;
    margin-right:5px;
}

.btn-excluir{
    background:#c0392b;
    color:#fff;
    border:none;
    padding:5px 10px;
    cursor:pointer;
}

.footer {
    background-color: #1f3c88; 
    color: white;
    padding: 30px;
    margin-top: 90px;
    text-align: left;
    font-size: 14px;
}

.logofooter {
    margin-right: 100%;
    width: 130px;
    height: 90px;
}

.texto {
    margin-left: 20px;
    margin-top: 20px;
}

.desenvolvido {
    margin-left: 15%;
    margin-top: -7%;
}

.ano {
    margin-left: 96%;
}