:root {
  --blue: #1E3A8A;
  --blue-dark: #1E3A8A;
  --white: #ffffff;
  --gray: #666;
  --border: #dcdcdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}

.topbar {
  background: var(--blue);
  color: var(--white);
  padding: 16px 32px;
  display: flex;
  align-items: center;
}

.Logo {
  width: 130px;
  height: 90px;
}

.perfil {
  width: 30px;
  height: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  border: solid 2px white;
  padding: 5px 18px;
  margin-left: auto;
}

.titulo {
  text-align: center;
  margin: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  gap: 100px;
  justify-content: center;
  padding: 0 20px;
}

.card {
  border: 1px solid black;
  padding: 16px 12px;
  text-align: center;
  width: 230px;
  height: 260px;
}

.card h3 {
  margin-bottom: 8px;
}

.card p {
  font-size: 14px;
}

.card button {
  background: var(--blue);
  color: white;
  border: none;
  padding: 9px 12px;
  margin-top: 12px;
  cursor: pointer;
}

.imgcard {
  width: 125px;
  height: auto;
  margin: 6px auto;
  display: block;
}

.resumos {
  background: var(--blue);
  margin: 60px 30px;
  padding: 20px;
  
}

.resumo {
  border: 2px solid white;
  padding: 30px 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resumo-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resumo-info h3 {
  font-size: 22px;
}

.resumovalor {
  font-size: 46px;
  font-weight: bold;
}

.resumo-info p {
  font-size: 14px;
  opacity: 0.9;
}

.imgresumo {
  width: 110px;
  height: auto;
}

.cardsegundos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px 0;
  flex-wrap: nowrap;
}

.cardsegundo {
  display: grid;
  grid-template-columns: 1fr 110px;
  align-items: center;
  border: solid 1px black ;
  padding: 50px 85px;
}

.cardtexto {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  height: 100%;
}

.cardtexto h4 {
  font-size: 18px; 
  margin-bottom: 10px;
}

.cardtexto p {
  font-size: 15px;  
  line-height: 1.6;
}

.segundoimg {
  width: 90px;
  justify-self: end;
}

.footer {
    background-color: #1f3c88; 
    color: white;
    padding: 30px;
    margin-top: 90px;
    text-align: left;
    font-size: 14px;
}

.logofooter {
    margin-right: 100%;
    width: 130px;
    height: 90px;
}

.texto {
    margin-left: 20px;
    margin-top: 20px;
}

.desenvolvido {
    margin-left: 15%;
    margin-top: -7%;
}

.ano {
    margin-left: 96%;
}