:root {
  --blue: #1E3A8A;
  --blue-dark: #1E3A8A;
  --white: #ffffff;
  --gray: #666;
  --border: #dcdcdc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
}

/* ================= HEADER ================= */
.topbar {
  background: var(--blue);
  color: var(--white);
  padding: 16px 32px;
  display: flex;
  align-items: center;
}

.Logo {
  width: 130px;
  height: 90px;
}

.perfil {
  width: 30px;
  height: 30px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  border: solid 2px white;
  padding: 5px 20px;
  margin-left: auto;
}

.settings {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

/* ================= TÍTULO ================= */
.titulo {
  text-align: center;
  margin: 40px 0 30px 0;
}

/* ================= CARDS PRINCIPAIS ================= */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 80px;
  justify-items: center;
}

.card {
  border: 1px solid black;
  padding: 20px 15px;
  text-align: center;
  width: 100%;
  max-width: 260px;
  height: 280px;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
}

.card button {
  background: var(--blue);
  color: white;
  border: none;
  padding: 10px 14px;
  margin-top: 15px;
  cursor: pointer;
}

.imgcard {
  width: 140px;
  height: auto;
  margin: 8px auto;
  display: block;
}

/* ================= RESUMO ================= */
.resumos {
  background: var(--blue);
  color: white;
  margin: 60px 80px;
  padding: 30px;
}

.resumo h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.resumovalor {
  font-size: 60px;
  font-weight: bold;
}

.imgresumo {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
}

/* ================= CARDS SECUNDÁRIOS ================= */
.cardsegundos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0 80px;
}

.cardsegundo {
  border: 1px solid black;
  padding: 30px;
}

.cardsegundo h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.segundoimg {
  width: 200px;
  height: 159px;
  display: block;
  margin-left: auto;
}

/* ================= FOOTER ================= */
.footer {
  background-color: #1f3c88;
  color: white;
  padding: 30px 80px;
  margin-top: 80px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logofooter {
  width: 130px;
  height: 90px;
}

.texto {
  margin-top: 10px;
}

.desenvolvido {
  margin-top: 10px;
}

.ano {
  align-self: flex-end;
}
