* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #333;
}

.topbar {
    background-color: #1e3a8a;
    color: white;
    padding: 16px 32px;
    display: flex;
    align-items: center;
}

.Logo {
    width: 130px;
    height: 90px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid white;
    padding: 5px 18px;
    margin-left: auto;
}

.perfil {
    width: 30px;
    height: 30px;
}
.btn-voltar {
    color: white;
    font-size: 26px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.btn-voltar:hover {
    opacity: 0.7;
}
.titulo-pagina {
    text-align:center;
    font-size:20px;
    margin-bottom:25px;
    margin-top: 50px;
}

.container {
    padding: 30px 40px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.card h3 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #1f3c88;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
}

.metrics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.metric-card {
    background-color: white;
    border-left: 6px solid #1f3c88;
    padding: 18px;
}

.metric-card span {
    font-size: 13px;
    color: #666;
}

.metric-card strong {
    display: block;
    margin-top: 8px;
    font-size: 18px;
    color: #1f3c88;
}

.footer {
    background-color: #1f3c88; 
    color: white;
    padding: 30px;
    margin-top: 90px;
    text-align: left;
    font-size: 14px;
}

.logofooter {
    margin-right: 100%;
    width: 130px;
    height: 90px;
}

.texto {
    margin-left: 20px;
    margin-top: 20px;
}

.desenvolvido {
    margin-left: 15%;
    margin-top: -7%;
}

.ano {
    margin-left: 96%;
}

@media (max-width: 900px) {
    .metrics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .metrics {
        grid-template-columns: 1fr;
    }

    .container {
        padding: 20px;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
    }
}
